<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Registrarse</title>
    <link rel="stylesheet" th:href="@{/css/loginStyle.css}">
</head>

<body>
    <form th:action="@{/register}" method="POST">
        <div style="background-color: white;height: 600px;display: grid;place-items: center;">
            <div style="background-color: cadetblue;height: 200px; width: 300px;padding: 20px;border-radius: 10px;">
                <h2 >Crear Usuario</h2>

                <input type="text" placeholder="&#128273; Nombre" name="name" required>
                <input type="text" placeholder="&#128274; Apellido" name="surname" required>
                <input type="text" placeholder="&#128273; Email" name="email" required>
                <input type="password" placeholder="&#128274; Contraseña" name="password" required>

                <br>
                <input type="submit" value="Ingresar">

                <br>
                <br>
                <a th:href="@{/login}" style="float:right">Iniciar Sesion</a>

            </div>
        </div>

    </form>
</body>
</html>